body{
    margin: 0;
  }
  
  #formHTML > h1{
    font-size: 2rem;
    text-align: center;
  }
  
  .lists{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .formP{
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    border: 3px solid black;
    box-shadow: -2px 2px 3px 0 red;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formP > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .formP > form textarea,
  .formP > form select{
    width: 100%;
    box-sizing: border-box;
  }
  .formP > form input[type="submit"]{
    align-self: center;
    /* width: 100px;
    margin: 0 auto; */
  }
  
  div#formPvzResult{
    color: red;
  }
  div#formPvzResult > p{
    font-size: 20px;
  }
  .bigBlueText{
    font-size: 35px;
    color: blue;
  }
  
  section#pvzKartu{
    margin-top: 50px;
  }

  section{
    margin: 0;
  }