section#pvz > div{
    display: grid;
    height: 500px;
    /* grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; */
    grid-template: 1fr 2fr 1fr/ repeat(3 , 1fr);
    /* grid-template: 100px 200px 100px / 100px 100px 100px; */
    gap: 5px 20px;
    /* align-items: center;
    justify-items: center; */
    /* place-items: center; */
    /* grid-auto-flow: column; */
}

section#pvz > div > div{
    /* display: flex;
    justify-content: center;
    align-items: center; */
/* 
    width: 100px;
    height: 70px; */

    font-size: 50px;
    background-color: aquamarine;
    border: 3px solid black;
}

section#pvz > div > div:nth-child(1){
    grid-area: 2 / 1 / 3 / 4;
} 

section#pvz > div > div:nth-child(2){
    grid-area: 1 / 3 / 4 / 4;
}